@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #ffffff;
  color: #222;
}

header {
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;
  height: 50px;
}

.logo {
  margin-top:5px;
  font-weight: 700;
  font-size: 22px;
  color: #444d3b;
}

main {
  max-width: 600px;
  margin: 120px auto 60px;
  text-align: center;
  padding: 0 20px;
}

h1 {
  font-size: 34px;
  color: #181E1A;
  font-weight: 700;
}

.subtext {
  font-size: 20px;
  color: #445944;
  font-weight: 700;
}

.subtext .highlight {
  color: #7A563E;
}

.upload-box {
  margin: 30px auto 10px;
  border: 2px dashed #444d3b;
  padding: 30px 0;
  border-radius: 15px;
  background-color: #f7f6f3;
}

.file-label {
  background-color: #444d3b;
  color: #fff;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
}

.file-label span::after {
  content: " ▼";
  font-size: 12px;
}

.file-info {
  font-size: 14px;
  color: #555;
  margin-top: 12px;
}

.preview-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.preview-area img {
  width: 100%;
  max-width: 120px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

#recommendButton {
  margin-top: 25px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #444d3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#recommendButton:hover {
  background-color: #3a422e;
}

.result-section {
  text-align: left;
  margin-top: 40px;
  padding: 0 10px;
}

.label {
  font-size: 18px;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

.tags span {
  font-size: 16px;
  color: #563D2C;
  margin-right: 10px;
}

.music-list {
  list-style: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.music-list li {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 15px;
  color: #563D2C;
}
