<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <img src="/static/logo.jpg" alt="로고" class="logo-image">
        <span class="logo">NOIDEA.</span>
    </header>
    <main class="auth-center">
        <h1>로그인</h1>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              alert('{{ messages[0] }}');
            </script>
          {% endif %}
        {% endwith %}
        <div class="upload-box" style="max-width:350px; margin:30px auto;">
            <form method="post">
                <input type="text" name="username" placeholder="아이디" required style="width:80%;padding:10px;margin-bottom:10px;"><br>
                <input type="password" name="password" placeholder="비밀번호" required style="width:80%;padding:10px;margin-bottom:20px;"><br>
                <button type="submit" id="recommendButton" style="width:85%;">로그인</button>
            </form>
        </div>
        <div style="margin-top:20px; text-align:center;">
            계정이 없으신가요? <a href="{{ url_for('register') }}">회원가입</a>
        </div>
    </main>
</body>
</html> 